.container {
  height: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;

}

.item {
  flex:1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.row {
  width: auto;
}
.content {
  min-height: 100%;

}

mat-selection-list {
  width: 100%;
}

.input-holder {
  background: white;
  max-width: 800px;
}
.result {
  background: white;
}
